[Desktop Entry]
Encoding=UTF-8
Name=Link to erikdubois/themes-icons-pack: Script to download and install all interesting themes and icons for Linux Mint
Type=Link
URL=https://github.com/erikdubois/themes-icons-pack
Icon=text-html
Name[en_US]=themes-icons-pack
